body {
  background-image: url('https://media.giphy.com/media/l1J9zikVsB204frnW/giphy.gif');
  /* ('https://media.giphy.com/media/l0HlEm4YE1q41pOCY/giphy.gif'); */
  background-size: cover;
}

.header {
  margin: 12em auto 0em auto;
  /* width: 50%; */
  text-align: center;
}

h1 {
  font-family: 'Oleo Script' , cursive;
  font-size: 5em;
}

h2 {
  font-family: 'Alata' , sans-serif;
  /* font-size: 1.25em; */
  font-size: 2em;
  font-weight: 400;
  color: #303030;
}

h3 {
  font-family: 'Rubik' , sans-serif;
  /* font-size: 1em; */
  font-size: 1.5em;
  font-weight: 400;
  color: #606060;
}

p {
  font-family: 'Rubik' , sans-serif;
  /* font-size: .5em; */
  font-size: 1.25em;
  color: #606060;
}

.block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  overflow: hidden;
}

.backpic {
  background-image: url('../images/still.png');
  background-size: cover;
  z-index: 1;
}
@media (min-width: 500px) {
  .searchbar {
    /* margin: 1.5em auto 2em auto; */
    margin: auto;
    width: 75%;
  }
}
@media (min-width: 992px) {
  .searchbar {
    /* margin: 15em auto 2em auto; */
    margin: auto;
    width: 50%;
  }
}

.search {
  border: 2px solid  #E3A899;
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
}

.search:hover {
  border: 3px solid #95b7ec;
}

#search-btn {
  background-color: #F78166;
  color: white;
  border: none;
  border-radius: 20px;
  width: 40px;
  height: 30px;
  float: right;
  margin-right: 5px;
  margin-top: -34px;
  position: relative; 
  z-index: 2;
}

#search-btn:hover {
  cursor: pointer;
  background-color: #ffa428;
}

.search-icon {
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

@media (min-width: 500px) {
  .options {
    margin: -1em auto 11em auto;
    width: 75%;
  }
}
@media (min-width: 992px) {
  .options {
    margin: -1em auto 11em auto;
    width: 50%;
  }
}

.menu {
  margin: auto;
  width: 33%;
  /* border: 1px solid white; */
  border: 1px solid #E3A899;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  /* background-color: #E3A899; */
}

.menu a {
  color: #F78166;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1em;
  z-index: 1 !important;
}

@media (min-width: 500px) {
  .menu a:hover {
    color: #ffa428;
  }
}
@media (min-width: 992px) {
  .menu a:hover {
    color: #ffa428;
    /* font-size: 1.2em; */
  }
}

.hidden {
  display: none;
}

@media (min-width: 500px) {
  .events-list {
    width: 100%;
    margin: 0px auto 5em auto;
    z-index: 0;
  }
}
@media (min-width: 992px) {
  .events-list {
    width: 80%;
    margin: 0px auto 5em auto;
    z-index: 0;
  }
}

.event-row {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 10px auto 0px auto;
  cursor: pointer;
  z-index: 0;
}

.event-row:hover {
  margin-left: 10px;
}

.event-image-div {
  position: relative;
  width: 200px;
  height: 200px; 
  overflow: hidden;
  border-radius: 5px;
}

.event-image {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.event-info-div {
  position: relative;
  margin-top: 20px;
}

.footer {
  text-align: right;
  margin-right: -5em;
  margin-bottom: 1em;
}

.footer a {
  font-family: 'Rubik' , sans-serif;
  font-size: 1.25em;
  color: #606060;
}

.footer a:hover {
  color: #303030;
  text-decoration: none;
}