body {
  background-image: url('https://media.giphy.com/media/l1J9zikVsB204frnW/giphy.gif');
  /* ('https://media.giphy.com/media/l0HlEm4YE1q41pOCY/giphy.gif'); */
  background-size: cover;
}

.block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  overflow: hidden;
}

.backpic {
  background-image: url('../images/still.png');
  background-size: cover;
  z-index: 1;
}
@media (min-width: 500px) {
  .searchbar {
    margin: 15em auto 2em auto;
    width: 75%;
  }
}
@media (min-width: 992px) {
  .searchbar {
    margin: 15em auto 2em auto;
    width: 50%;
  }
}

.search {
  border: 2px solid  #E3A899;
  border-radius: 20px;
  font-family: 'Rubik', sans-serif;
}

.search:hover {
  border: 3px solid #95b7ec;
}

/* #search-input {
  display: inline-block;
  position: relative;
} */

/* #search-input {
  border: 1px solid #E3A899;
  border-radius: 20px;
  width: 100%;
}  */

#search-btn {
  background-color: #F78166 !important;
  color: white;
  border: none;
  border-radius: 20px;
  width: 40px;
  height: 30px;
  float: right;
  margin-right: 5px;
  margin-top: -34px;
  position: relative; 
  z-index: 2;
}

#search-btn:hover {
  cursor: pointer;
}

.search-icon {
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

@media (min-width: 500px) {
  .options {
    margin: -1em auto 10em auto;
    width: 75%;
  }
}
@media (min-width: 992px) {
  .options {
    margin: -1em auto 10em auto;
    width: 50%;
  }
}

.menu {
  margin: auto;
  width: 33%;
  /* border: 1px solid white; */
  border: 1px solid #E3A899;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  /* background-color: #E3A899; */
}

.menu a {
  color: #F78166;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

@media (min-width: 500px) {
  .menu a:hover {
    color: #ffa428;
  }
}
@media (min-width: 992px) {
  .menu a:hover {
    color: #ffa428;
    font-size: 1.2em;
  }
}

/* ::placeholder {
  color: #ffa428 !important;
} */

.hidden {
  display: none;
}

/* .search-icon {
  width: 20px;
  height: 20px;
  display: inline;
  z-index: 2;
} */